/* --------------------------------------
  Top Section
  -------------------------------------- */
.top-section {
	padding-top: 70px;
	padding-bottom: 70px;
	border-bottom: 2px solid #EAE7E7;
	background: #e3e3e3;
	margin-bottom: 60px;
}

.top-section h3 {
	margin-top: 0px;
	margin-bottom: 20px;
}

.top-section p {
	margin-bottom: 0px;
}

.accordion-styles .accordion-head .material-icons {
	font-size: 16px;
}

.accordion-styles .accordion-head .panel-heading {
	background: transparent;
	padding: 0px 0px 10px 0px;
}

.accordion-styles .accordion-head .panel-heading h6 {
	font-size: 16px;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 0px;
}

.accordion-styles .accordion-head .panel-heading a {
	text-decoration: none !important; 
}

.accordion-styles .accordion-head .panel-body {
	border: none !important;
	max-height: 185px;
	overflow-x: hidden;
	overflow-y: auto;
}

.accordion-styles .accordion-head .panel-body .clothes {
	padding-left: 18px;
	list-style: none;
	margin-bottom: 0px;
}

.accordion-styles .accordion-head .panel-body .size li {
	margin-bottom: 5px;
} 

.accordion-styles .accordion-head .panel-body ul li {
	font-size: 14px;
}

.accordion-styles .accordion-head .panel-body ul li a {
	color: #333 !important;
}

.accordion-styles .accordion-head .panel-body .clothes li a p {
	margin-bottom: 5px;
}

.range {
	width: 40px;
	height: 40px;
	color: #333;
	border: 1px solid #333;
	text-align: center;
	font-size: 12px;
	border-radius: 50%;
}

.range:nth-child(1){
	margin-right: 10px;
	margin-left: 18px;
}

.range:nth-child(2){
	margin-left: 10px;
}

/* --------------------------------------
  First Section
  -------------------------------------- */
.first-section {
	padding-top: 40px;
	padding-bottom: 60px;
	background: #EAE7E7;
}

.first-section h3 {
	margin-top: 0px;
	line-height: 1em;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 20px;
	width: 80%;
}

.first-section .fa {
	font-size: 24px;
}

.first-section .title {
	font-weight: 500;
	color: #000;
	margin-bottom: 10px;
	font-size: 14px;
	display: block;
}

.first-section input {
	background: transparent;
	width: 40px;
	height: 40px;
	text-align: center;
	border: 1px solid #333;
	color: #333;
	padding-left: 9px;
	font-weight: 500;
}

.prod-sizes {
	padding-left: 0px;
	list-style: none;
}

.prod-sizes li {
	display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
}

.prod-sizes li.select-me {
	border: 1px solid #333;
	transition: 0.3s ease;
}

.prod-sizes li.disabled {
	border: 1px solid #333;
	border-radius: 50%;
	background: #e7e7e7;
}

.prod-sizes li.disabled .prd-descr span {
	color: #f8f8f8;
}

.prod-sizes li .prd-descr input{
	display: none;
}

.prod-sizes li .prd-descr span {
	display: block;
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}

.first-section .not-avail {
	font-size: 18px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 0px;
	transition: 0.3s linear;
	display: none;
}

.first-section .owl-carousel .owl-item img {
	width: 100% !important;
	margin-left: auto;
	margin-right: auto;
}

.first-section .owl-dots {
	display: none !important;
}

.first-section .owl-nav {
	top: 50% !important;
	transform: translateY(-50%) !important;
}

.first-section .owl-prev {
	position: absolute !important;
	font-size: 30px !important;
	color: #333 !important;
	margin: 0px !important;
	padding: 0px !important;
	top: 50% !important;
	left: -15px;
	transform: translateY(-50%) !important;
}

.first-section .owl-next {
	position: absolute !important;
	font-size: 30px !important;
	color: #333 !important;
	margin: 0px !important;
	padding: 0px !important;
	top: 50% !important;
	right: -15px;
	transform: translateY(-50%) !important;
}

.but1 {
	background: #000;
	color: #fff;
	padding: 15px 40px;
	border: none;
	margin-bottom: 20px;
	width: 60%;
}

.total-price {
	font-size: 22px;
	font-weight: 500;
	margin-top: 15px;
	margin-bottom: 20px;
}

/* --------------------------------------
  Second Section
  -------------------------------------- */
.second-section {
	padding-top: 60px;
	padding-bottom: 60px;
}

.second-section img {
	width: 100%;
}

.second-section h3 {
	font-weight: 400;
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 22px;
}

.second-section ul {
	padding-left: 15px;
	font-size: 14px;
	line-height: 1.5em;
}

.second-section .panel {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    border-top: 2px solid #e3e3e3;
}

.second-section .panel .panel-heading {
    background: transparent !important;
    padding-left: 0px;
}

.second-section .panel .panel-body {
    border: none !important;
    padding-top: 0px;
    padding-left: 0px;
}

.second-section .cat {
	font-weight: 600;
	font-size: 13px;
	margin-bottom: 5px;
}

.second-section .det {
	margin-bottom: 10px;
}

/* --------------------------------------
  Third Section
  -------------------------------------- */
.third-section {
	padding-bottom: 60px;
}

.third-section h3 {
	margin-top: 0px;
	font-size: 20px;
	margin-bottom: 40px;
}

.third-section .panel {
	border-radius: 0px;
	border: none;
	box-shadow: none;
	margin-bottom: 20px;
}

.third-section .panel .panel-body {
	padding: 0px;
	position: relative;
}

.third-section .panel .panel-body img {
	width: 100%;
}

.image-in {
	position: absolute;
	left: 0;
	top: 0;
}

.image-in img {
	transition: 0.3s ease;
}

.image-in:hover img {
	opacity: 0;
}

.bag-func {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 30px;
	height: 30px;
	border: 1px solid #333;
	text-align: center;
	border-radius: 50%;
	transition: 0.4s ease;
	cursor: pointer;
}

.bag-func .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.bag-func:hover {
	background: #333;
	color: #fff;
}

.third-section .panel .panel-footer {
	border: 1px solid #e3e3e3;
	border-top: none;
	border-radius: 0px;
	background: transparent;
	overflow: hidden;
	padding-top: 20px;
	height: 100px;
}

.third-section .panel .panel-footer h4 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 300;
	width: 65%;
}

.third-section .panel .panel-footer .price {
	font-weight: 500;
	line-height: 1em;
	margin-bottom: 10px;
	font-size: 14px;
	width: 35%;
	text-align: right;
}

.third-section .panel .panel-footer .descr {
	font-size: 12px;
	display: none;
}

.page {
	padding-left: 0px;
	list-style: none;
	margin-top: 20px;
}

.page  a {
	color: #333 !important;
	text-decoration: none !important;
}

.page li {
	display: inline-block;
	margin: 0px 5px 10px 0px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	transition: 0.3s ease;
}

.page li.active {
	border: 1px solid #333;
}

.page li:hover {
	border: 1px solid #333;
}

.page li span {
	position: absolute;
	font-size: 13px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.fav-btn {
	border: 1px solid #e7e7e7;
	background: white;
	color: #333;
	font-weight: 500;
	padding: 10px 20px;
	margin-right: 15px;
	text-align: left;
	height: 45px;
	width: 165px;
}

.contains-button .dropdown-menu {
	margin-top: 0px;
	border-radius: 0px;
    border: 1px solid #e3e3e3;
    padding: 0px;
    box-shadow: none;
    min-width: 250px;
}

.contains-button .dropdown-menu .dropdown-item {
	display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #f8f8f8;
    transition: 0.3s ease;
    font-size: 14px;
    font-weight: 500;
}

.contains-button .dropdown-menu .dropdown-item:hover {
	background: #f8f8f8;
}

/* --------------------------------------
  Refine Search
  -------------------------------------- */
.refine-search {
	position: fixed;
	height: 100vh;
	overflow: hidden;
	width: 100vw;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 100000;
	transition: 0.4s ease;
}

.head-part {
	background: #EAE7E7;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	position: relative;
	height: 70px;
}

.head-part h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: 600;
}

.close-refine {
	position: absolute;
	right: 15px;
	top: 10px;
	color: #333 !important;
	text-decoration: none !important;
	cursor: pointer;
}

.close-refine .material-icons {
	font-size: 24px;
}

.go-back {
	position: absolute;
	top: 10px;
	left: 15px;
	color: #333 !important;
	text-decoration: none !important;
	cursor: pointer;
	font-size: 24px;
}

.base-part {
	padding: 20px;
	border-top: 1px solid #EAE7E7;
	position: absolute;
    width: 100%;
    bottom: 0;
    height: 85px;
}

.base-btn {
	border: 1px solid #e7e7e7;
	background: transparent;
	width: 48%;
	padding: 10px 20px;
	transition: 0.3s ease;
}

.base-btn:focus {
	background: #e7e7e7;
}

.body-part {
	height: calc(100vh - 155px);
	overflow-y: auto;
}

.refine-param {
	padding-left: 0px;
	list-style: none;
}

.refine-param li {
	padding: 20px 15px;
	border-bottom: 1px solid #EAE7E7;
}

.refine-param li h4 {
	margin: 0px;
	font-size: 14px;
	font-weight: 400;
}


.sub-items li a {
	color: #333 !important;
	text-decoration: none !important;
}

.sub-items li .material-icons {
	font-size: 20px;
	color: green !important;
	opacity: 0;
	transition: 0.3s ease;
}

.sub-items .you-selected .material-icons {
	opacity: 1;
}

.body-part .item.p-range {
	padding-top: 40px;
}

.body-part .item.p-range input{
	height: 50px;
	width: 50px;
	border: 1px solid #333;
	color: #333;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 50%;
}

.go-out {
	left: 101vw;
}

@media (max-width: 767px) {
	.contains-button {
		width: 50%;
	}

	.fav-btn {
		width: 100%;
		margin-bottom: 0px;
	}

	.fav-btn:nth-child(2) {
		margin-right: 0px;
		width: 48%;
		margin-bottom: 20px;
	}
	
	.contains-button .dropdown-menu {
		width: calc(100% - 5px) !important; 
		border-top: none;
		min-width: auto;
	}
}


img.img-responsive.img-resize {
    width: 100%;
    object-fit: cover;
    object-position: center center;
    height: 240px;
}