body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #818491;
    text-align: left;
    background-color: #fff;
}
button{
    padding: 0; !important
    border-width: none; !important
}

.shrink {
    background-color: #ffffff;
    padding-top: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}




/*.bg-light {
    background-color: #ffffff !important;
}

*/

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    transition: 1s ease;

}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
    color: #818491;
}




.sgnlandback {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), url(../img/landing-1.jpg);
    background-position: top center;
    background-size: cover;
    overflow: hidden;
}




.landingtitile {
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    text-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
}


.btn-dark-sgm {
    color: #fff;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    padding: 0.675rem 2rem;
    border-radius: 0.01rem;
}


.sgmlp {
    position: absolute;
    bottom: 9rem;
}




@media (min-width: 768px) {
    .container-sgm {
        width: 80%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

}





.globaltopspace {
    margin-top: 6rem;
}

.globaltopspace2 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}





.skgm-konko4 {
    position: relative;
    height: 11rem;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 0.01px;
}


.vasimg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    transition: 0.8s all;
    transform: scale(1);
}

.overlay-light-black {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.32);
}

.text-contain2 {
    text-align: left;
    position: relative;
    line-height: normal;
    text-transform: capitalize;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #FFFFFF;
}

.tc-main {
    font-weight: 600;
    font-size: 22px;
}


.tc-small {
    font-weight: 400;
    font-size: 14px;
}


.skgm-konko4:hover .vasimg {
    transform: scale(1.1);
}



a:hover {
    text-decoration: none;
}



.glomag {
    margin-top: 4rem;
    margin-bottom: 4rem;
}



.product-card {
    position: relative;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    word-wrap: break-word;

    background-clip: border-box;
    /*  border: 1px solid #fafafa;*/
    /* border-radius: 0.01rem;*/
    /* height: 320px;*/
    overflow: hidden;
}



.proimage {

    transform: scale(1);
    transition: 0.8s all;
    height: 250px;
    object-fit: cover;

}

.product-card:hover .proimage {
    transform: scale(1.1);
}


.product-titile {
    font-weight: 600;
    font-size: 16px;
    color: #000000;

}

.product-titile:hover {
    color: rgba(0, 0, 0, 0.7);

}



.product-px {
    font-weight: 400;
    font-size: 14px;
    color: #000000;

}

.fot-titile {
    font-weight: 600;
    color: #000000;
    font-size: 16px;
}

.fot-smalltxt {
    color: #000000;
    font-size: 14px;
}



.fot-micro {
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
}

.bc {

    color: #000000;
}


.fot {
    background: #FAFAFC;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.fa-25x {
    font-size: 1.5em !important;
}


.form-control-sgm {
    display: block;
    width: 100%;
    padding: 0.675rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ffffff;
    border-radius: 0.01px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-sgm:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.btn-dark:focus,
.btn-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0);
}

.btn-dark {
    color: #fff;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    border-radius: 0.01px;
}


.text-big-sgm {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000000;

}

.text-mid-sgm {
    font-weight: 600;
    font-size: 24px;
    line-height: 48px;
    color: #000000;

}


.btn-secondary-sgm {
    color: #000;
    background-color: #fafafa;
    border-color: #fafafa;
    border-radius: 0.01px;
    padding: 0.58rem 2rem;
}

.btn-secondary:focus,
.btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0);
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0);
}

.page-link {
    position: relative;
    display: block;
    padding: 0.4rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000000;
    background-color: #fff;
    border: 0px solid #dee2e600;
}



.page-link:hover {
    z-index: 2;
    color: #000000;
    text-decoration: none;
    background-color: #fafafa;
    border-color: #fafafa;
}

.centerit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerit2 {
    display: flex;
    align-items: center;
    /*   justify-content: center;*/
}


.currency {
    font-size: 20px;
    line-height: 30px;
    color: #000000;

}


.custom-select,
.form-control {
    border-radius: 0.01rem;
    background-color: #f6f6f6;
    padding: 0.675rem 0.75rem;
    border: 1px solid #f6f6f6;
    height: auto;
    font-size: 14px;
}

.custom-select:focus {
    border-color: #f6f6f6;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0), 0 0 5px rgba(128, 189, 255, 0);
}



.form-control {
    display: block;
    width: 100%;
    padding: 0.675rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #f6f6f6;
    background-clip: padding-box;
    border: 1px solid #f6f6f6;
    border-radius: 0.01px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #f9f9f9;
    border-color: #f9f9f9;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.card-header2 {
    padding: 0.75rem 0rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    color: black;
}

.card-body2 {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.2px 1.25rem;
    color: black;
}

.brag {
    height: 25rem;
    background: black;
    color: white;
    border-radius: 0.01px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.login {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.00)), url(../img/login.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.signup {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.00)), url(../img/signup.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.error {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.00)), url(../img/404.jpg);
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


.thankyou {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.00)), url(../img/thankyou.jpg);
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}





@media (min-width: 1200px) {
    .logspace {
        padding: 1rem 10rem;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    .logspace {
        padding: 1rem 10rem;
    }

}


@media (max-width: 575.98px) {
    .logspace {
        padding: 1rem 1rem;
    }
}


label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: black;
    font-size: 14px;
}


.checckoutbox {
    /* min-height: 25rem;*/
    background: #f6f6f6;
    color: #000000;
    border-radius: 0.01px;
    border: 1px solid rgb(246, 246, 246);
}



.newsmalltext {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #000000;

}


.newsmalltext2 {
    font-size: 14px;
    line-height: 24px;
    color: #000000;

}


.erroortxt {

    font-weight: 600;
    font-size: 44px;
    line-height: 64px;
    color: #000000
}

.snap {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    color: #CC4E4E;
}


.editpro {
    padding: 4rem;
    background: #efeeee;
    border-radius: 0.01px;
    border: 1px solid #efeeee;
}

@media (max-width: 575.98px) {

    .editpro {
        padding: 1rem;
        background: #efeeee;
        border-radius: 0.01px;
        border: 1px solid #efeeee;
    }
}



.editfonttop {
    color: #000000;
    font-size: 16px;
}

.editfonttop.active {
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
}


.editfonttop:hover {
    color: #000000;
    font-size: 16px;
}


.orderthumb {
    height: 70px;
    width: 70px;
    object-fit: cover;
}



.about {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0) 100%), url(../img/about.jpg);
    background-position: top;
    background-size: cover;
    overflow: hidden;
}

.about-mid {
    height: 40vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(31, 31, 31, 0.89) 100%), url(../img/aboutmid.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-position: fixed;
}

@media (max-width: 575.98px) {
    .about-mid {
        height: auto;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(31, 31, 31, 0.89) 100%), url(../img/aboutmid.jpg);
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }

}


.aboutqt {

    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;

}


.aboutqt-small {

    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    font-style: italic;

}

.aboutqt-smallb {

    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;

}

.aboutqt-small2 {

    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.linecut {
    border: 1px solid #ffffff;
    height: 40vh;
}

.tagsgm {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;

}

.endabouttxt {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}



.aboutcuts {

    background: #F0F1F3;
    padding-top: 7rem;
    padding-bottom: 7rem;

}







.skgm-blog {
    position: relative;
    height: 23rem;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 0.01px;
}


.vasimg-blog {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    transition: 0.8s all;
    transform: scale(1);
}

.overlay-light-black-blog {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.48) 100%);
}

.text-contain2-blog {
    text-align: left;
    position: relative;
    line-height: normal;
    text-transform: capitalize;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #FFFFFF;
    bottom: 2rem;
    font-weight: 600;
}


.userblog {
    font-weight: 400;
}



.skgm-blog:hover .vasimg-blog {
    transform: scale(1.1);
}


.blogsing {
    padding-top: 20rem;
    padding-bottom: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

.sgtitile {

    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 64px;

}


/*blog thumb*/
.skgm-blog {
    position: relative;
    height: 23rem;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 0.01px;
}


.vasimg-blog {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    transition: 0.8s all;
    transform: scale(1);
}

.overlay-light-black-blog {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.48) 100%);
}

.text-contain2-blog {
    text-align: left;
    position: relative;
    line-height: normal;
    text-transform: capitalize;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #FFFFFF;
    bottom: 2rem;
    font-weight: 600;
}


.userblog {
    font-weight: 400;
}



.skgm-blog:hover .vasimg-blog {
    transform: scale(1.1);
}



/*thumb*/


/*blog thumb*/
.skgm-blog1 {
    position: relative;
    height: 16rem;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 0.01px;
}


.vasimg-blog1 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    transition: 0.8s all;
    transform: scale(1);
}

.overlay-light-black-blog1 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.48) 100%);
}

.text-contain2-blog1 {
    text-align: left;
    position: relative;
    line-height: normal;
    text-transform: capitalize;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #FFFFFF;
    bottom: 2rem;
    font-weight: 600;
}


.userblog1 {
    font-weight: 400;
}



.skgm-blog1:hover .vasimg-blog1 {
    transform: scale(1.1);
}




/*blog thumb*/
.skgm-blog2 {
    position: relative;
    height: 32rem;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 0.01px;
}


.vasimg-blog2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    transition: 0.8s all;
    transform: scale(1);
}

.overlay-light-black-blog2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.48) 100%);
}

.text-contain2-blog2 {
    text-align: left;
    position: relative;
    line-height: normal;
    text-transform: capitalize;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #FFFFFF;
    bottom: 2rem;
    font-weight: 600;
}


.userblog2 {
    font-weight: 400;
}



.skgm-blog2:hover .vasimg-blog2 {
    transform: scale(1.1);
}


.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ffffff;
    border-radius: 0.01rem;
    outline: 0;
}

.modal-header2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ffffff !important;
    border-top-left-radius: 0.01rem;
    border-top-right-radius: 0.01rem;
}

.pointer {
    cursor: pointer;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}



.expand {
    width: 40% !important;
}



@media (max-width: 575.98px) {
    .expand {
        width: 100% !important;
    }

}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3000;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    z-index: 3000;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}





.spacearound {
    padding: 0rem 4rem;
}




.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 2%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

.overlay a {
    padding: 12px;
    text-decoration: none;
    font-size: 1.15rem;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #2b2929;
}

.overlay .closebtn {
    position: absolute;
    top: 0;
    right: 11px;
    font-size: 34px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 1rem
    }

    .overlay .closebtn {
        font-size: 1rem;
        top: 15px;
        right: 35px;
    }
}



.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0.01rem;
}

.owl-nav {
    position: absolute;
    top: 73%;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
}

.owl-prev {
    position: absolute;
    right: 4rem;
}

.owl-next {
    right: 1rem;
    position: absolute;
}

.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 12px;
    margin: 5px;
    padding: 7px 16px;
    background: #000000;
    display: inline-block;
    cursor: pointer;
    border-radius: 1px;
}

.huhuhu {
    padding-top: 10rem;
    padding-bottom: 6rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

/* @media (max-width: 575.98px) { 
    .expand {
    width: 100% !important;
}

} */
