/* --------------------------------------

  Global Styles

  -------------------------------------- */

* {
    box-sizing: border-box;
}

#result,
#result_mobile {
    position: absolute;

    width: 100%;
    max-width: 600px;
    cursor: pointer;
    overflow-y: auto;
    max-height: 400px;
    box-sizing: border-box;
    z-index: 1001;
}

.new-position {
    right: auto;
    left: 0;
}

.new-position a {
    font-size: 14px !important;
}

body {
    height: 100%;

    font-family: "Raleway", sans-serif;

    overflow-x: hidden;
}

.has-background {
    background-size: cover;

    background-repeat: no-repeat;

    background-position: center;

    position: relative;
}

.overlay {
    position: absolute;

    width: 100%;

    height: 100%;

    top: 0;

    left: 0;

    background: rgba(0, 0, 0, 0.1);
}

.but {
    padding: 10px 40px;

    background: #fff;

    border: none;

    color: #333;

    font-weight: 500;

    transition: 0.4s ease;
}

.but:hover {
    color: #fff;

    background: #333;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.hide-me {
    display: none;
}

#result {
    max-width: 250px !important;
}

/* --------------------------------------

  Header

  -------------------------------------- */

.header-container {
    z-index: 10;

    position: fixed;

    width: 100%;

    background: #fff;
}

.first-header-section {
    padding-top: 10px;

    padding-bottom: 10px;

    height: 70px;
}

.first-header-section .logo-img {
    display: inline-block;

    max-height: 50px;

    position: relative;

    left: 50%;

    transform: translateX(-50%);
}

.first-header-section .top-tools {
    display: inline-block;

    position: absolute;

    right: 15px;

    top: 50%;

    transform: translateY(-50%);

    list-style: none;
}

.first-header-section .top-tools li {
    display: inline-block;

    margin-left: 10px;
}

.first-header-section .top-tools li a {
    color: #333 !important;

    text-decoration: none !important;

    cursor: pointer;

    font-size: 20px;
}

.first-header-section .top-tools li input {
    border: 2px solid #f0f0f0;

    padding: 10px;

    padding-right: 30px;

    height: 40px;

    color: #333;
}

.first-header-section .top-tools li form i {
    position: relative;

    left: -30px;
}

.first-header-section .top-tools li .dropdown sub {
    font-size: 10px;

    padding: 8px 11px 7px 8px;

    color: #fff;

    background: #f30404;

    border-radius: 50%;

    left: -10px;
}

.first-header-section .top-tools li .dropdown-menu {
    border-radius: 0px;

    border: 1px solid #f0f0f0;

    width: 350px;

    left: auto;

    right: 0;

    margin-top: 20px;

    padding: 15px;

    padding-bottom: 0px;
}

.first-header-section .top-tools li .dropdown-menu .cart-title {
    padding-top: 0px;

    padding-bottom: 10px;

    border-bottom: 1px solid #f0f0f0;

    margin-bottom: 10px;
}

.first-header-section .top-tools li .dropdown-menu .cart-title h3 {
    font-size: 18px;

    font-weight: 400;

    margin: 0px;
}

.first-header-section .top-tools li .dropdown-menu .cart-title p {
    margin-bottom: 0px;
}

.special-nav {
    z-index: -1;
}

.first-header-section .top-tools li .dropdown-menu ul {
    padding-left: 0px;

    list-style: none;
    overflow-y: auto;
    max-height: 300px;
    margin-right: -13px;
}

/* .first-header-section .top-tools li .dropdown-menu ul::-webkit-scrollbar {
       width: 10px;
} */

.first-header-section .top-tools li .dropdown-menu ul li {
    margin-left: 0px;

    margin-bottom: 10px;
    width: 100%;
}

.first-header-section .top-tools li .dropdown-menu ul li img {
    float: left;

    margin-right: 10px;

    max-height: 90px;
}

.first-header-section .top-tools li .dropdown-menu ul li .cart-content {
    display: table;
}

.first-header-section .top-tools li .dropdown-menu ul li .cart-content h4 {
    margin-top: 0px;

    margin-bottom: 5px;

    font-size: 16px;
}

.first-header-section
    .top-tools
    li
    .dropdown-menu
    ul
    li
    .cart-content
    .material-icons {
    font-size: 16px;
}

.first-header-section .top-tools li .dropdown-menu ul li .cart-content .small {
    font-weight: 600;

    margin-bottom: 5px;

    font-size: 12px;
}

.first-header-section
    .top-tools
    li
    .dropdown-menu
    ul
    li
    .cart-content
    .text-danger {
    font-weight: 600;

    color: red;

    margin-bottom: 0px;
}

.first-header-section .top-tools li .dropdown-menu .cart-footer {
    margin-left: -15px;

    margin-right: -15px;

    padding: 15px;

    background: #eae7e7;
}

.first-header-section .top-tools li .dropdown-menu .cart-footer h3 {
    font-weight: 400;

    font-size: 18px;

    margin: 0px;
}

.chck-out {
    padding: 10px 20px;

    background: #333;

    color: #fff;

    height: 50px;

    border: 1px solid #333;

    margin-left: 10px;

    margin-top: 10px;

    font-size: 14px;
}

.see-bag {
    padding: 10px 20px;

    background: #fff;

    color: #333;

    height: 50px;

    border: 1px solid #f0f0f0;

    margin-top: 10px;

    font-size: 14px;
}

.for-offset {
    height: 120px;
}

.search_result li a {
    color: #333 !important;
    text-decoration: none !important;
}

.search_result li {
    transition-duration: 0.4s ease;
}

.search_result li:hover {
    background: #f8f8f8;
}

/* --------------------------------------

  Special Nav

  -------------------------------------- */

.special-nav {
    margin-bottom: 0px;

    border: none !important;

    border-radius: 0px !important;

    background: #f8f8f8;

    height: 50px;
}

.special-nav .navbar-nav {
    width: 100%;

    text-align: center;
}

.special-nav .navbar-nav li {
    float: none;

    display: inline-block;

    position: static;
}

.special-nav.navbar-default .navbar-nav > li > a {
    color: #333;

    font-size: 13px;

    transition: 0.1s linear;
}

.special-nav.navbar-default .navbar-nav > .active > a,
.special-nav.navbar-default .navbar-nav > .active > a:focus,
.special-nav.navbar-default .navbar-nav > .active > a:hover {
    color: #333;

    border-bottom: 2px solid #333;

    background: transparent;
}

.special-nav.navbar-default .navbar-nav > .open > a,
.special-nav.navbar-default .navbar-nav > .open > a:focus,
.special-nav.navbar-default .navbar-nav > .open > a:hover {
    color: #333;

    background: transparent;

    border-bottom: 2px solid #333;
}

.special-nav .navbar-nav > li > .dropdown-menu {
    width: calc(100% + 2px);

    left: -1px;

    right: -1px;

    border-radius: 0px;

    border: none;

    padding-top: 20px;

    padding-bottom: 40px;

    top: 52px;
}

.special-nav .navbar-nav > li > .dropdown-menu .list-items {
    display: block;

    padding-left: 0px;

    list-style: none;

    margin-bottom: 25px;
}

.special-nav .navbar-nav > li > .dropdown-menu .list-items li {
    float: none;

    display: block;

    margin-bottom: 5px;
}

.special-nav .navbar-nav > li > .dropdown-menu .list-items li > a {
    color: #333 !important;

    font-size: 13px;

    font-weight: 500;
}

.small-btn {
    font-style: 12px;

    color: #fff;

    background: #333;

    border-radius: 0px;

    border: none;

    padding: 10px 20px;

    margin-top: 10px;
}

/* --------------------------------------

  Footer Styles

  -------------------------------------- */

footer {
    background: #272424;

    padding-top: 40px;

    padding-bottom: 20px;

    color: #fff;
}

footer img {
    max-height: 60px;

    margin-left: auto;

    margin-right: auto;

    margin-bottom: 10px;
}

footer p {
    margin-bottom: 10px;
    font-size: 12px;
}

footer .input-group {
    margin-bottom: 20px;
}

footer .form-control {
    border-radius: 0px;

    border: 1px solid #fff;

    background: transparent;

    color: #fff;
    font-size: 12px;
}

footer .input-group-btn:last-child > .btn {
    border-radius: 0px;

    background: #fff;

    color: #333;

    padding-right: 30px;

    padding-left: 30px;
}

.footer-links {
    padding-left: 0px;

    list-style: none;

    margin-bottom: 0px;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links li a {
    color: #fff !important;
    font-size: 12px;
}

footer h5 {
    margin-top: 0px;

    margin-bottom: 10px;

    font-size: 14px;
}

.social-links {
    padding-left: 0px;

    list-style: none;

    display: flex;
}

.social-links li {
    width: 40px;

    height: 40px;

    text-align: center;

    border: 1px solid #fff;

    position: relative;

    margin-right: 10px;

    border-radius: 50%;

    transition: 0.4s ease;

    cursor: pointer;
}

.social-links li .fa {
    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    color: #fff;
}

.country-btn {
    background: transparent;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-size: 12px;
}

.social-links li:hover {
    background: #fff;
}

.cookies {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 10px 0px;
    background: #f8f8f8;
    z-index: 1000;
}

.cookies p {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}

.cookies button {
    background: #02c54c;
    border: none;
    border-radius: 0px;
    color: #fff;
    padding: 5px 20px;
    margin-right: 10px;
}

.cookies a {
    text-decoration: underline;
}

.social-links li:hover .fa {
    color: #333;
}

footer .copyright {
    padding-top: 20px;
}

footer .copyright hr {
    border-color: #525151;
    margin-bottom: 20px;
}

footer .copyright a {
    color: #fff !important;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .special-nav .collapse {
        display: block;
    }

    .cart-content {
        min-width: 230px;
    }
}

@media (max-width: 768px) {
    .col-small-offset-3 {
        margin-left: 25%;
    }
}

@media (max-width: 767px) {
    .col-small-offset-3 {
        margin-left: 0;
    }

    .cart-content {
        min-width: 230px;
    }

    footer h5 {
        margin-top: 20px;

        font-size: 14px;
    }

    .top-tools {
        display: flex !important;
    }

    .footer-links li a {
        font-size: 12px;
    }

    .first-header-section .top-tools li .dropdown-menu {
        right: -25px;
    }

    .first-header-section .top-tools li .dropdown-menu ul {
        margin-right: 0px;
    }

    .dib {
        display: inline-block !important;
    }

    .trigger-nav {
        color: #333 !important;

        text-decoration: none !important;

        position: absolute;

        left: 15px;

        top: 50%;

        transform: translateY(-50%);

        font-size: 20px;

        cursor: pointer;

        width: 80px;
    }

    .for-offset {
        height: 70px;
    }

    .header-container {
        border-bottom: 1px solid #f0f0f0;
    }

    .navigation-small {
        position: fixed;

        width: 100%;

        height: 100vh;

        top: 0;

        left: 0;

        background: #fff;

        z-index: 10000;

        overflow-x: hidden;

        overflow-y: auto;

        transition: 0.3s ease;
    }

    .ns-head {
        padding: 15px;

        background: #eae7e7;
    }

    .ns-head h3 {
        margin: 0px;

        font-weight: 500;

        font-size: 20px;
    }

    .ns-head .material-icons {
        font-size: 20px;
    }

    .ns-head a {
        color: #333 !important;

        text-decoration: none !important;
    }

    .nv-accord {
        margin-bottom: 0px;

        border: none;
    }

    .nv-accord .panel {
        border-radius: 0px;

        border: none;

        box-shadow: none;
    }

    .nv-accord .panel .panel-heading {
        background: #fff;

        border-bottom: 1px solid #f0f0f0;

        padding-top: 15px;

        padding-bottom: 15px;

        margin: 0px;
    }

    .nv-accord .panel .panel-heading h4 {
        font-style: 14px;
    }

    .nv-accord .panel .panel-heading h4 a {
        text-decoration: none !important;
    }

    .nv-accord .panel-collapse > .panel-body {
        padding: 0px;

        border: none;
    }

    .nv-accord .second-level {
        padding: 0px;
    }

    .nv-accord .second-level .panel-group {
        margin-bottom: 0px;
    }

    .nv-accord .second-level .panel-group .panel {
        margin: 0px;

        border: none;
    }

    .nv-accord .second-level .panel-group .panel .panel-heading {
        padding: 15px;

        background: #f8f8f8;

        border-top: none;

        border-bottom: 1px solid #f0f0f0;

        margin: 0px;

        border-radius: 0px;
    }

    .nv-accord .second-level .panel-group .panel .panel-body ul {
        padding-left: 0px;

        list-style: none;

        margin: 0px;
    }

    .nv-accord .second-level .panel-group .panel .panel-body ul li {
        padding: 15px;

        background: #fff;

        border-bottom: 1px solid #f0f0f0;
    }

    .nv-accord .second-level .panel-group .panel a {
        color: #333 !important;

        text-decoration: none !important;
    }

    .go-out-left {
        left: 101vw;
    }

    .search-box {
        padding: 15px;

        border-bottom: 1px solid #f0f0f0;

        background: #fff;

        position: fixed;

        top: 70px;

        z-index: 2;

        width: 100%;

        left: 0;

        transition: 0.3s ease;
    }

    .search-box input {
        border: 1px solid #f0f0f0;

        padding: 10px;

        padding-right: 30px;

        height: 40px;

        color: #333;

        width: 100%;
    }

    .search-box a {
        position: absolute;

        right: 30px;

        top: 50%;

        transform: translatey(-50%);

        font-size: 16px;

        color: #333 !important;

        text-decoration: none !important;
    }

    .pull-up {
        top: -70px;
    }
}

.search_result {
    position: absolute;
    top: 38px;
    right: 32px;
    font-size: 1.5rem;
    font-family: cookie;
    float: left;
    color: #050505;
    width: 28%;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 1px;
    border: 1px solid transparent;
}

@media (min-width: 768px) {
    .footer-links,
    .social-links,
    .pad-up-md {
        margin-top: 20px;
    }
}

.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #333333;
    border-color: #333333;
    border-radius: 5rem;
}

.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 2;
    color: #ffffff !important;
    background-color: #333;
    border-color: #333;
    border-radius: 5rem;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff0;
    border: 1px solid #ddd0;
}
