/* --------------------------------------
  Top Section
  -------------------------------------- */
.top-section {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 2px solid #EAE7E7;
	background: #e3e3e3;
	margin-bottom: 80px;
}

.top-section h3 {
	margin-top: 0px;
	margin-bottom: 20px;
}

.top-section p {
	margin-bottom: 0px;
}

/* --------------------------------------
  Wishlist
  -------------------------------------- */
.wishlist {
	padding-bottom: 100px;
}

.wishlist .panel {
	border-radius: 0px;
	border: none;
	box-shadow: none;
}

.wishlist .panel .panel-body {
	padding: 0px;
	border: 1px solid #e3e3e3;
	height: 150px;
	overflow: hidden;
}

.wishlist .panel .panel-body a {
	color: #333 !important;
}

.wishlist .panel .panel-body h4 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 14px;
}

.wishlist .panel .panel-body .material-icons {
	margin-top: 5px;
	margin-right: 7px;
	font-size: 24px;
	cursor: pointer;
}

.wishlist .panel .panel-footer {
	background: #e3e3e3;
	border: 1px solid #e3e3e3;
	border-top: none;
	border-radius: 0px;
	text-align: center;
	padding: 0;
}

.wishlist .panel .panel-footer a {
	color: #333 !important;
	text-decoration: none !important;
	display: block;
	padding: 10px;
}

.wishlist .panel .panel-footer h3 {
	margin: 0px;
	font-size: 14px;
}

.wishlist .panel .panel-footer:hover {
	background: #e7e7e7;
}

/* --------------------------------------
  Third Section
  -------------------------------------- */
.third-section {
	padding-bottom: 60px;
	padding-top: 40px;
	margin-top: 60px;
}

.third-section hr {
	margin-top: 40px;
	margin-bottom: 60px;
	border-top: 1px solid #e3e3e3;
}

.third-section h3 {
	margin-top: 0px;
	font-size: 16px;
	margin-bottom: 40px;
}

.third-section .panel {
	border-radius: 0px;
	border: none;
	box-shadow: none;
	margin-bottom: 20px;
}

.third-section .panel .panel-body {
	padding: 0px;
	position: relative;
}

.third-section .panel .panel-body img {
	width: 100%;
}

.image-in {
	position: absolute;
	left: 0;
	top: 0;
}

.image-in img {
	transition: 0.3s ease;
}

.image-in:hover img {
	opacity: 0;
}

.bag-func {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 30px;
	height: 30px;
	border: 1px solid #333;
	text-align: center;
	border-radius: 50%;
	transition: 0.4s ease;
	cursor: pointer;
}

.bag-func .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.bag-func:hover {
	background: #333;
	color: #fff;
}

.third-section .panel .panel-footer {
	border: 1px solid #e3e3e3;
	border-top: none;
	border-radius: 0px;
	background: transparent;
	overflow: hidden;
	padding-top: 20px;
	height: 120px;
}

.third-section .panel .panel-footer h4 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 500;
	width: 65%;
}

.third-section .panel .panel-footer .price {
	font-weight: 500;
	line-height: 1em;
	margin-bottom: 10px;
	font-size: 14px;
	width: 35%;
	text-align: right;
}

.third-section .panel .panel-footer .descr {
	font-size: 12px;
}


@media(max-width: 468px) {
	.third-section {
		margin-top: 0px;
	}
}




