.form-wizard .form-wizard-header {
    text-align: center;
}

.form-wizard .form-wizard-next-btn,
.form-wizard .form-wizard-previous-btn,
.form-wizard .form-wizard-submit {
    background-color: #c39154;
    color: #ffffff;
    display: inline-block;
    min-width: 100px;
    min-width: 120px;
    padding: 10px;
    text-align: center;
}
.form-wizard .form-wizard-next-btn:hover,
.form-wizard .form-wizard-submit:hover {
    background-color: #ffffff;
    color: #c39154;
    border: 1px solid #c39154;
}

.form-wizard .wizard-fieldset {
    display: none;
}

.form-wizard .wizard-fieldset.show {
    display: block;
}

.form-wizard .wizard-form-error {
    display: none;
    background-color: #d70b0b;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    height: .3px;
    width: 100%;
}

.wizard-form-error {

    display: none;
    width: 100%;
    margin-bottom: .30rem;
    font-size: .875em;
    color: #dc3545;

}

.form-wizard .form-wizard-previous-btn {
    background-color: #ffffff;
    border: 1px solid #c39154;
    color: #c39154;
}
.form-wizard .form-wizard-previous-btn:hover {
    background-color: #c39154;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.form-wizard .form-group {
    position: relative;
    /* margin: 25px 0; */
}

.form-wizard .form-wizard-steps li {
    width: 25%;
    float: left;
    position: relative;
}

.form-wizard .form-wizard-steps li span {
    background-color: #dddddd;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    width: 40px;
    z-index: 1;
}

.form-wizard .form-wizard-steps li:last-child::after {
    width: 50%;
}

.form-wizard .form-wizard-steps li.active span,
.form-wizard .form-wizard-steps li.activated span {
    background-color: #d65470;
    color: #ffffff;
}

.form-wizard .form-wizard-steps li.active::after,
.form-wizard .form-wizard-steps li.activated::after {
    background-color: #d65470;
    left: 50%;
    width: 50%;
    border-color: #d65470;
}

.form-wizard .form-wizard-steps li.activated::after {
    width: 100%;
    border-color: #d65470;
}

.form-wizard .form-wizard-steps li:last-child::after {
    left: 0;
}

.form-wizard .wizard-password-eye {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

@keyframes click-radio-wave {
    0% {
        width: 25px;
        height: 25px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        width: 60px;
        height: 60px;
        margin-left: -15px;
        margin-top: -15px;
        opacity: 0.0;
    }
}

@media screen and (max-width: 767px) {
    .wizard-content-left {
        height: auto;
    }
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.radio-buttons {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.custom-radio input {
    display: none;
}

.radio-btn {
    margin: 10px;
    width: 250px;
    height: 200px;
    border: 1px solid #cecece;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.radio-btn>i {
    color: #ffffff;
    background-color: #c39154;
    font-size: 20px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) scale(4);
    border-radius: 50px;
    padding: 3px;
    transition: 0.2s;
    pointer-events: none;
    opacity: 0;
}

.radio-btn .hobbies-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio-btn .hobbies-icon i {
    color: #c39154;
    line-height: 80px;
    font-size: 60px;
}

.radio-btn .hobbies-icon h3 {
    color: #c39154;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.custom-radio input:checked+.radio-btn {
    border: 3px solid #c39154;
}

.custom-radio input:checked+.radio-btn>i {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}


.radio-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.custom-radio {
    margin: 0px;
}

.radio-btn .hobbies-icon {
    width: 100%;
}

.radio-btn {
    margin: 0px;
    width: 100%;
    height: 180px;
    display: block;
}

.form-wizard-submit {
    border: none;
}


/* checkout  pages */
.checkout-top-bar {
    background: #F9F9F9;
    padding: 15px 0 4px 0;
}

.checkout-top-bar li a {
    color: #BDBDBD;
    font-size: 13px;
    font-weight: 700;
}

.checkout-top-bar li a:hover {
    color: #c39153;
    font-size: 13px;
    font-weight: 700;
}

.checkout-titile1 {
    font-size: 30px;
    color: #C39154;
    font-weight: 700;
}

.border-between>[class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}

.border-between>[class*='col-']:first-child:before {
    display: none;
}

.cartimage {
    width: 70px;
    height: 89px;
    object-fit: cover;
}

.totalback {
    background: #F2F2F2;
    padding-top: 12px;
    font-size: 19px;
}

.custom-control-label::before {
    position: absolute;
    top: 4px;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.f_titile_p2b {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.radio-btn .hobbies-icon .hbi-icon {
    color: #c39154;
    line-height: 80px;
    font-size: 60px;
    margin-bottom: 7px;
}

.radio-buttons .custom-radio .radio-btn {
    height: 160px;
}

.oc-content img {
    max-width: 150px;
}

.oc-title {
    letter-spacing: 3px;
    font-size: 24px;
}
