@font-face {
    font-family: "Sopia Pro";
    src: url("SofiaProLight.eot") format("embedded-opentype"),
        url("SofiaProLight.ttf") format("truetype"),
        url("SofiaProLight.woff") format("woff"),
        url("SofiaProLight.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Sopia Pro";
    src: url("SofiaProRegular.eot") format("embedded-opentype"),
        url("SofiaProRegular.ttf") format("truetype"),
        url("SofiaProRegular.woff") format("woff"),
        url("SofiaProRegular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Sopia Pro";
    src: url("SofiaProMedium.eot") format("embedded-opentype"),
        url("SofiaProMedium.ttf") format("truetype"),
        url("SofiaProMedium.woff") format("woff"),
        url("SofiaProMedium.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Sopia Pro";
    src: url("SofiaProBold.eot") format("embedded-opentype"),
        url("SofiaProBold.ttf") format("truetype"),
        url("SofiaProBold.woff") format("woff"),
        url("SofiaProBold.woff2") format("woff2");
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Sopia Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    text-align: left;
    background-color: #fff;
}

button {
    padding: 0;
    border: none;
}


.navbar-wholsome {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
}

a.navbar-wholsome.active {
    color: #C39154;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
    color: #C39154;
}

.wine2upc {
    color: #C39154 !important;
}

.wine_wc {
    color: #ffffff !important;

}

.clr-white {
    color: #fff;
}

/* Landing Page */
.landing-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: white;
}

.landing-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.landing-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mw-450 {
    width: 100%;
    max-width: 450px;
}

.landing-wrapper h1 {
    font-size: 40px;
}

.landing-wrapper a {
    transition: 0.3s ease;
    letter-spacing: 5px;
    font-size: 16px;
    color: white;
}

.landing-wrapper a:hover {
    color: #C39154;
}

/* Global Syles */
.container-w2u {
    width: 85%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container-w2u {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}


@media (max-width: 575.98px) {
    .container-w2u {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

}



.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #333333;
    font-size: 14px;
}

.centerit {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 404 page only */
.errorpage {
    height: 100vh;
    overflow: hidden;
}


/* Login / Register */
.sign {
    min-height: 100vh;
    padding-top: 10rem;
}



/* index page */
.home-top {
    background: #FFF5EA;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
    padding-top: 136px;
}

.home-top-b {
    font-size: 70px;
    font-family: 'Libre Baskerville', serif;
    color: #2B4036;
    font-weight: 800;
    margin-top: 3rem;
}


@media (max-width: 575.98px) {
    .home-top-b {
        font-size: 47px;
        font-family: 'Libre Baskerville', serif;
        color: #2B4036;
        font-weight: 800;
    }

}

.exclusive {
    background: linear-gradient(to bottom, #00000073 19.04%, rgb(0 0 0 / 35%) 215.59%), url(../img/exclusive.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 60vh;
}


.exclusive h1,
.about-hero h1 {
    font-family: Libre Baskerville;
    font-weight: bold;
    font-size: 43.3793px;
    line-height: 54px;
    color: #FFFFFF;

}


.wineslide {
    font-family: Libre Baskerville;
    font-size: 43.3793px;
    line-height: 54px;
    color: #FFFFFF;
}






/* indes Page */

.resetpass {
    height: 100vh;
}


.sign_title {
    font-size: 35px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

/* p{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
} */

.form-control-wine2u {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 1.35rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #828282;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #828282;
    border-radius: 0.01rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-wine2u:focus {
    color: #495057;
    background-color: #fff;
    border-color: #C39154;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}

.btn-wine2u {
    color: #C39154;
    background-color: rgb(255 255 255 / 0%);
    border-color: #C39154;
    font-family: 'Libre Baskerville', serif;
    border-radius: 0.01px;
    padding: 11px 23px;
}

.btn-wine2u-deep {
    color: #ffffff;
    background-color: #C39154;
    border-color: #ffffff;
    border-radius: 0.01px;
    padding: 11px 23px;
}

.btn-wine2u_2 {
    color: #ffffff;
    background-color: #2B4036;
    border-color: #2B4036;
    font-family: 'Libre Baskerville', serif;
    border-radius: 0.01px;
    padding: 11px 23px;
}


.btn-wine2u:hover {
    color: #C39154;
    background-color: #ffffff;
    border-color: #C39154;
    font-family: 'Libre Baskerville', serif;
    border-radius: 0.01px;
    padding: 11px 23px;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #c39153;
    text-decoration: none;
    background-color: transparent;
}


label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 13px;
}

/*About page*/
.about-hero {
    background: linear-gradient(to bottom, #00000073 19.04%, rgb(0 0 0 / 35%) 215.59%), url(../img/about-hero.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 75vh;
}

.about-hero-text {
    max-width: 750px;
}

@media (max-width: 768px) {
    #about-hero-title {
        font-size: 36px;
    }
}

@media (max-width: 576px) {
    #about-hero-title {
        font-size: 24px;
        line-height: 40px;
    }

    .about-hero-desc {
        font-size: 12px;
    }

    .sign_title {
        font-size: 28px;
    }

    .exclusive h1,
    .about-hero h1 {
        font-size: 34px;
    }
}

@media (max-width: 374px) {
    #about-hero-title {
        font-size: 22px;
        line-height: 30px;
    }
}

.border-r {
    border-right: 1px solid #C39154;
}

.border-rt {
    border-right: 1px solid #C39154;
    border-top: 1px solid #C39154;
}

@media (min-width: 576px) {
    .border-l {
        border-left: 1px solid #C39154;
    }
}

.hr-different {
    border-top: 1px solid #C39154;
}

.pt-8rem {
    padding-top: 8rem;
}

.min-height-w {
    min-height: 500px;
    object-fit: cover;
    object-position: center;
}

/* landing pages and checks */


.landing {
    background: url(../img/landing2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;

}

.main-fix {
    margin-top: 22%;
}

.landing-sm-text {
    color: #fff;
}


.landingimg {
    height: 100vh;
}

.land_titile {
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

.land_titile {
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    color: #fff;
}

.max600 {
    max-height: 600px;
}

.landing p {
    line-height: 1.5;

}



.landing_p {
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 3px;
    color: #C39154;
    font-size: 60px;
    font-weight: 500;
}

.modal-content-wine2u {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.01rem;
    outline: 0;
}

.modal-header-wine2u {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #ffffff;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}


.modal-footer-wine2u {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #ffffff;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}



/* blog css */

.top_titile_bk {
    margin-top: 7rem;
    background: #2B4036;
    min-height: 30vh;
    padding-top: 2.5rem;
}

.wine2u-konko {
    position: relative;
    height: 30rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;

}

.overlay-light-black {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.60);
}

.vasimg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.text-containm {
    text-align: left;
    position: relative;
    line-height: normal;
    text-transform: capitalize;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #FFFFFF;
    left: 5rem;
}

@media (max-width: 575.98px) {
    .text-containm {
        text-align: left;
        position: relative;
        line-height: normal;
        text-transform: capitalize;
        padding-left: 1rem;
        padding-right: 1rem;
        color: #FFFFFF;
        left: 0rem;
    }
}




.text-contain2 {
    text-align: left;
    position: relative;
    line-height: normal;
    text-transform: capitalize;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #FFFFFF;

}


.f_titile {
    font-size: 40px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    color: #ffffff;
}


.f_titile_blk {
    font-size: 40px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    color: #000000;
}



.f_titile_p {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
}

.f_titile_p2 {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.f_titile_p2b {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    font-family: 'Libre Baskerville', serif;
}

.f_titile_p3 {
    font-size: 14px;
    color: #333333;
    font-weight: 300;
}

.btn-wine3u {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 0.01px;
    padding: 11px 23px;
}

.btn-wine3u:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 0.01px;
    padding: 11px 23px;
}

.bolg_img {
    height: 22rem;
    width: 100% !important;
    object-fit: cover;
}

.userside_blog {
    border: 2px solid #99093e33;
    border-radius: 50%;
    width: 2.6rem;
    height: 2.6rem;
    object-fit: cover;
}

.spaceup {
    margin-top: 9rem;
}

.blogtextandicon {
    position: absolute;
    bottom: -20px;
    left: 4rem;
}

/* user profile pages */
.profile-top {
    margin-top: 11rem;
    margin-bottom: 8rem;
}


.list-group-item {
    position: relative;
    display: block;
    padding: 1rem 2rem;
    background-color: #fff;
    border: 1px solid rgb(0 0 0 / 0%);
    background: #F9F9F9;
}

.profilet1 {
    font-size: 24px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

.profilet2 {
    font-size: 24px;
    font-weight: 700;
}


.nav-link-pro {
    display: block;
    padding: 01rem 1rem;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    background-color: #F9F9F9;
}


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #C39154;
    border-radius: 0.001px;
}

.points-titile {
    font-size: 64px;
    font-weight: 700;
}

.points-text {
    letter-spacing: 6px;
    color: #c39153;
}


.copy-link {
    background: #f2f2f2;
    height: 3rem;
    border-radius: 0.01px;
}

.list-group-item.active {
    z-index: 2;
    color: #c39153;
    background-color: #f9f9f9;
    border-color: #f9f9f9;
    font-weight: 500;
}

/* checkout  pages */

.checkout-top-bar {
    background: #F9F9F9;
    padding: 15px 0 4px 0;
}

.checkout-top-bar li a {
    color: #BDBDBD;
    font-size: 13px;
    font-weight: 700;
}

.checkout-top-bar li a:hover {
    color: #c39153;
    font-size: 13px;
    font-weight: 700;
}


.checkout-titile1 {
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
    color: #C39154;
    font-weight: 700;
}



.border-between>[class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}

.border-between>[class*='col-']:first-child:before {
    display: none;
}

.cartimage {
    width: 70px;
    height: 89px;
    object-fit: cover;
}




.totalback {
    background: #F2F2F2;
    padding-top: 12px;
    font-size: 19px;
}

.custom-control-label::before {
    position: absolute;
    top: 4px;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}



/* Product Category Page */

.productmain {
    position: relative;

}

.product-small {
    font-size: 12px;
}

.product-price {
    color: #99093E;
    font-size: 16px;
}

.pluscircle {
    position: absolute;
    right: 15px;
    top: 15px;
}

.productside {
    background: #F9F9F9;
    border: 1px #f9f9f9 solid;
    border-radius: 0.01px;
}

.productthumb {
    height: 420px;
    width: 100% !important;
    object-fit: cover;
    border-radius: 7px;
}

@media (min-width: 992px) and (max-width: 1366.98px) {
    .productthumb {
        height: 350px;
        width: 100% !important;
        object-fit: cover;
        border-radius: 7px;
    }

}



@media (max-width: 575.98px) {
    .productthumb {
        height: 220px;
        width: 100% !important;
        object-fit: cover;
        border-radius: 7px;
    }

}


.productthumb-titile {
    font-family: Libre Baskerville;
    font-size: 18px;
    line-height: 20px;
    color: #2B4036;
}


.productthumb-price {
    font-family: Libre Baskerville;
    font-size: 12px;
}








/* country  */

.winecountry {
    padding: 5rem 0;
    height: 25rem;
    position: relative;
    ;
}


.ss {
    position: absolute;
    bottom: 2rem;
    left: 5%;
}

/* ratings */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1.3em;
    font-size: 19px;
    color: #99093E;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

/* ratings */

/* .product */
.btn-wine3up {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 0.01px;
    padding: 13px 23px;
    border: 1px black solid;
    font-weight: 200;
}



/* plusa and minus input */
.btn-dark-product {
    color: #000;
    background-color: #ffffff;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    border-radius: 1px;
    border-right: 0px;

}

.btn-dark-product2 {
    color: #000;
    background-color: #ffffff;
    border-left: 0px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    border-radius: 1px;
    border-right: 1px solid gray;

}

.form-prod {
    background: white;
    border: 0px solid #ced4da;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    background-color: white !important;
    height: 3.5rem;

}

.btn-prod {
    height: 3.5rem;
    border: 0px solid #c39153;
    color: #ffffff;
    background-color: #c39153;
    border-color: #ffffff;
    border-radius: 0.01px;
}

.btn-prod2 {
    height: 3.5rem;
    border: 1px solid #c39153;
    color: #ffffff;
    border-radius: 0.01px;
}

.pill-wine2 {
    background: #F2F2F2;
    padding: 5px 26px;
    border-radius: 22px;
    font-size: 14px;
    color: #C39154;
}

.font-weight-100 {
    font-weight: 100;
}

.progress-reviews progress {
    width: 100%;
}

.award-pushl {
    margin-left: -21px;
}

.wine-2uprob {
    background: #F9F8F4;
    padding-top: 5rem;
}

.wine-2uprob2 {
    background: #F9F8F4;
    padding-bottom: 10rem;
}


.productgreenline {
    position: relative;
    padding: 6rem 0;
    background: url(../img/greenline.jpg);

}

.wineproh1 {
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    color: #ffffff;
}


.btn-bb1 {
    color: #ffffff;
    background-color: #C39154;
    border-color: #C39154;
    border-radius: 0.01px;
    padding: 11px 23px;
}

.btn-bb1:hover {
    color: #ffffff;
    background-color: #C39154;
    border-color: #C39154;
    border-radius: 0.01px;
    padding: 11px 23px;
}

.btn-bb2 {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 0.01px;
    padding: 11px 23px;
}

.btn-bb2:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 0.01px;
    padding: 11px 23px;
}

.bottle {
    position: absolute;
    right: 5%;
    width: 260px;
    bottom: 0;
}

.grape {
    position: absolute;
    left: 0%;
    width: 278px;
    bottom: 4rem;
}

.footergreen {
    /* padding: 6rem 0; */
    background: linear-gradient(182.01deg, #2B4036 19.04%, rgba(43, 64, 54, 0) 215.59%), url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}



.footergreen h1 {

    font-size: 18px;
    color: #C39154;
    font-family: 'Libre Baskerville', serif;

}

.footergreen a {
    font-size: 14px;
    color: #ffffff;

}


.footer-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.bbb_viewed {
    padding-top: 51px;
    padding-bottom: 60px;
    background: #eff6fa
}

.bbb_main_container {
    background-color: #fff;
    padding: 11px
}

.bbb_viewed_title_container {
    border-bottom: solid 1px #dadada
}

.bbb_viewed_title {
    margin-bottom: 16px;
    margin-top: 8px
}

.bbb_viewed_nav_container {
    position: absolute;
    right: -5px;
    bottom: 14px
}

.bbb_viewed_nav {
    display: inline-block;
    cursor: pointer
}

.bbb_viewed_nav i {
    color: #dadada;
    font-size: 18px;
    padding: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_viewed_nav:hover i {
    color: #606264
}

.bbb_viewed_prev {
    margin-right: 15px
}

.bbb_viewed_slider_container {
    padding-top: 13px
}

.bbb_viewed_item {
    width: 100%;
    background: #FFFFFF;
    border-radius: 2px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px
}

.bbb_viewed_image {
    width: 150px;
    height: 150px
}

.bbb_viewed_image img {
    display: block;
    max-width: 100%
}

.bbb_viewed_content {
    width: 100%;
    margin-top: 25px
}

.bbb_viewed_price {
    font-size: 16px;
    color: #000000;
    font-weight: 500
}

.bbb_viewed_item.discount .bbb_viewed_price {
    color: #df3b3b
}

.bbb_viewed_price span {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 8px
}

.bbb_viewed_price span::after {
    display: block;
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: 1px;
    background: #8d8d8d;
    content: ''
}

.bbb_viewed_name {
    margin-top: 3px
}

.bbb_viewed_name a {
    font-size: 14px;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_viewed_name a:hover {
    color: #0e8ce4
}

.item_marks {
    position: absolute;
    top: 18px;
    left: 18px
}

.item_mark {
    display: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 500;
    line-height: 36px;
    text-align: center
}

.item_discount {
    background: #df3b3b;
    margin-right: 5px
}

.item_new {
    background: #0e8ce4
}

.bbb_viewed_item.discount .item_discount {
    display: inline-block
}

.bbb_viewed_item.is_new .item_new {
    display: inline-block
}


/* MOBILE NAV */
.overlaywhole {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #fff;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-contentwhole {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlaywhole a {
    padding: 8px;
    text-decoration: none;
    font-size: 22px;
    color: #464646;
    /* display: block; */
    transition: 0.3s;
}

.overlaywhole a:hover,
.overlaywhole a:focus {
    color: #f1f1f1;
}

.overlaywhole .closebtn {
    position: absolute;
    top: -15px;
    right: 18px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlaywhole {
        overflow-y: auto;
    }

    .overlaywhole a {
        font-size: 20px;
    }

    .overlaywhole .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.overlay-contentwhole a.btn.btn-success {
    color: aliceblue;
    padding: 5px 19px;
    font-size: 22px;
    font-weight: 100;
}

@media (max-width: 575.98px) {
    .spacetop {
        margin-top: 5rem;
    }
}

/* MOBILE NAV */



.blackhome {
    background: black;
    color: #ffffff;
}

.blackhome2 {
    height: 100%;
    color: #ffffff;
    object-fit: cover;
    width: 100%;
}


.whoweare {
    background: rgb(43, 62, 54);
    background: linear-gradient(0deg, rgba(43, 62, 54, 1) 58%, rgba(255, 255, 255, 1) 58%);
}



.relativetins {
    position: relative;
}

.righteffect {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.lefteffect {
    position: absolute;
    left: 0;
    top: 0;
}

.lefteffect404 {
    position: absolute;
    left: 0;
    top: 21px;
    width: 28rem;
}


.lefteffecttop {
    position: absolute;
    left: 0;
    top: 30px;
    width: 17rem;
}



input[type=checkbox] {
    transform: scale(1.3);

}


.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 200;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 12px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 13rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.01rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}


/* range slider */
.custom-range::-webkit-slider-thumb {
    background: #2B4036;
}

.custom-range::-moz-range-thumb {
    background: #2B4036;
}

.custom-range::-ms-thumb {
    background: #2B4036;
}

progress {
    border: none;
    background-color: rgba(43, 64, 54, 0.1);
    color: #2B4036;
    border-radius: 10px;
    height: 6px;
}

progress::-webkit-progress-value {
    background: #2b4036;
    border-radius: 10px;
    height: 6px;
}

progress::-moz-progress-bar {
    background: rgba(43, 64, 54, 0.1);
    border-radius: 10px;
    height: 6px;
}

progress::-webkit-progress-value {
    background: #2B4036;
    border-radius: 10px;
    height: 6px;
}

progress::-webkit-progress-bar {
    background: rgba(43, 64, 54, 0.1);
    border-radius: 10px;
    height: 6px;
}

.total-stars #container {
    width: 100%;
    height: 100%;
    position: relative;
}

.star-label {
    white-space: nowrap !important;
}

/* range slider */


.reviewimage {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}


.prodslidearrow {
    position: absolute;
    top: 50%;
    cursor: pointer;

}

.newArrivals {
    background: rgb(255, 245, 234);
    background: linear-gradient(180deg, rgba(255, 245, 234, 1) 39%, rgba(43, 64, 54, 1) 39%);
}

.featurewineadd {
    position: absolute;
    top: 50%;
    left: 15%;
}

.moveupfeature {
    margin-top: -18rem;
}

.Na-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.top_titile_bka {
    margin-top: 5rem;
    background: #2B4036;
    min-height: 30vh;
    padding-top: 2.5rem;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 4px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) no-repeat right 0.75rem center/8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.01rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.pill-review {
    background: #c39154;
    padding: 5px 26px;
    border-radius: 22px;
    font-size: 14px;
    color: #ffffff;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #ffffff;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #ffffff;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(255 255 255);
    border-radius: 0.01rem;
    outline: 0;
    padding: 2rem;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #b5b5b5e6;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}



.profile-topw {
    margin-top: 11rem;
    margin-bottom: 3rem;
}


/*-------------------*/
.font-libre {
    font-family: 'Libre Baskerville', serif !important;
    font-weight: 400;
}

.fw-bold {
    font-weight: 700 !important;
}

.exclusive {
    min-height: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-attachment: fixed;
}

.width-290 {
    width: 290px;
}

.btn-bb1,
.btn-bb2 {
    width: 290px;
}

.footergreen {
    padding-top: 80px;
    padding-bottom: 40px;
}

.product-img {
    display: block;
    position: relative;
    padding-bottom: 130%;
    overflow: hidden;
    border-radius: 8px;
}

.as-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.as-background-top {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: contain;
}



.product-img .as-background {
    object-fit: contain;
}

.product-price {
    white-space: nowrap;
}

.wine-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 160%;
}

.wine-img .as-background {
    object-fit: contain;
}

.rating>label {
    margin: 0px;
    width: auto;
    font-size: 16px;
    margin-left: 2px;
}

.productmain .bd-highlight {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-between;
    grid-column-gap: 10px;
}

.prd-brand {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-price {
    font-size: 14px;
}

.bord-rad-0 {
    border-radius: 0px !important;
}

.single-prd label {
    font-size: 21px;
    color: #C39154;
}

.single-prd-sel {
    border: 1px solid grey;
    border-radius: 0px;
}

.overlay-light-grad {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(44, 65, 55, 0) 32.29%, #2B4036 100%);
}

.p-relative {
    position: relative;
}

.video-card {
    display: flex;
    overflow: hidden;
    position: relative;
    height: 320px;
    padding: 40px 20px;
    color: white;
    align-items: flex-end;
    transition: 0.3s ease;
}

.video-play {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 100%;
    font-size: 21px;
    margin-bottom: 20px;
    transition: 0.3s ease;
}

.video-card:hover .video-play {
    background: #c39153;
    color: white;
}

.video-title {
    font-size: 18px;
    font-weight: 700;
}

.video-main-title {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
    max-width: 850px;
    width: 100%;
    line-height: 1.35;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56%;
    overflow: hidden;
}

.offset-nav {
    height: 180px;
}

.filter-btn {
    padding: 15px 20px;
    background: transparent;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
}

.filter-btn .filter-btn-icon {
    transition: 0.2s linear;
}

.filter-btn.open .filter-btn-icon {
    transform: rotate(180deg);
}

.stick-to-top {
    position: sticky;
    top: 180px;
}

.privacy-policy {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background: #2B4036;
    color: white;
    z-index: 1000;
    transition: 0.2s ease-out;
}

.privacy-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

#close-cookies {
    background: transparent;
    border: none;
    padding: 5px;
    margin-left: 10px;
    color: white;
    transition: 0.3s ease;
    outline: none !important;
}

#close-cookies:hover {
    color: #BB804D;
    background: transparent;
}

.cookies-btn {
    display: block;
    width: 100%;
    padding: 7px 25px;
    background: #BB804D;
    color: white;
    border: none;
    text-align: center;
    transition: 0.3s ease;
    font-size: 12px;
}

.cookies-btn:hover {
    background: white;
    color: #BB804D;
}

.home-top-b {
    font-size: 55px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

.home-top {
    height: auto;
    min-height: 100vh;
    background: transparent;
    position: relative;
}

.home-top-bg {
    background: #FFF5EA;
    height: 85%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.new-arrivals {
    width: 100%;
    max-width: 500px;
    position: relative;
}

.new-arr-bg {
    background: #2B4036;
    height: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid #BB804D;
}

.new-arr-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arr-ctrls {
    display: flex;
    align-items: center;
}

.arr-ctrls button {
    background: transparent;
    border: none;
    outline: none !important;
    padding: 7px;
    transition: 0.3s ease;
}

.arr-ctrls button:hover {
    color: #c39153;
}

.arr-product {
    color: white;
    position: relative;
}

.arr-img {
    position: relative;
    padding-bottom: 115%;
}

.arr-mini-btn {
    position: absolute;
    left: 22%;
    bottom: 25%;
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-rule: white;
    background: #99093E;
    border-radius: 100%;
    border: none;
    color: white;
    transition: 0.3s ease;
    outline: none !important;
}

.arr-mini-btn:hover {
    color: white;
    background: #c39153;
}

.arr-title {
    color: white;
}

.max-w-500 {
    max-width: 500px;
    width: 100%;
}

.owl-wineslide .item .mini-img {
    width: auto;
    display: initial;
}

/* Site Navigation */
.z-1 {
    z-index: 1;
}

.site-nav img {
    transition: 0.3s ease;
}

.site-nav button {
    outline: none !important;
}

.site-nav a {
    transition: 0.3s ease;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navbar-brand img {
    width: 70px;
}

.nv-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    min-height: 70px;
}

.nv-top-l {
    display: flex;
    align-items: center;
}

.nv-top-l a {
    display: inline-block;
    margin-right: 20px;
}

.nv-top-l a:hover img {
    opacity: 0.4;
}

.nv-top-r {
    display: flex;
    align-items: center;
}

.nv-form-search {
    display: flex;
    align-items: center;
    position: relative;
}

.nv-form-input {
    padding: 5px 10px;
    border: 1px solid #BDBDBD;
    opacity: 0;
    width: 0px;
    overflow: hidden;
    pointer-events: none;
    transition: 0.3s ease;
}

.nv-form-input.active {
    width: 220px;
    opacity: 1;
    pointer-events: all;
}

.open-form-search {
    background: transparent;
    border: none;
    padding: 5px;
}

.open-form-search:hover img {
    opacity: 0.4;
}

.nv-form-results {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background: white;
    width: 220px;
    transition: 0.3s ease;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    max-height: 0px;
    overflow-y: auto;
}

.nv-form-results.active {
    max-height: 250px;
}

.nv-form-res {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-column-gap: 10px;
    align-items: flex-start;
    border-bottom: 1px solid #bdbdbd;
    padding: 10px 10px;
    overflow: hidden;
}

.nv-form-results::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    background-color: #F5F5F5;
}

.nv-form-results::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.nv-form-results::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.nv-form-res:last-child {
    border-bottom: none;
}

.nv-res-img {
    position: relative;
    padding-bottom: 120%;
    overflow: hidden;
}

.nv-res-title {
    font-size: 15px
}

.nv-cart {
    background: transparent;
    border: none;
    display: flex;
    align-items: flex-end;
}

.nv-cart span {
    width: 25px;
    height: 25px;
    background: #F2F2F2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.nv-auth-links {
    align-items: center;
}

.nv-auth-links a {
    font-size: 15px;
    color: #333;
}

.nv-auth-links a:hover {
    color: #c39153;
}

.nav-bg {
    background: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.nv-auth-prof {
    display: flex;
    align-items: center
}

.nv-auth-prof img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.site-nav .navbar-nav a {
    display: block;
}

.nv-dropdown {
    position: relative;
}

.nv-dropdown:hover>.nv-drop-menu {
    opacity: 1;
    pointer-events: all;
}

.nv-drop-menu {
    position: absolute;
    left: 0;
    top: calc(100% + 0px);
    background: white;
    width: 180px;
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
    /* border-radius: 8px; */
    /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); */
}

.nv-drop-menu a {
    display: block;
    width: 100%;
    padding: 10px;
}

.nv-drop-menu a:hover {
    background: #f7f7f7;
}

.nv-drop-menu .nv-drop-menu {
    top: 0;
    left: 100%;
    border-left: 1px solid #c4c4c4;
}

.top_titile_bk,
.spaceup {
    margin-top: 122px;
}

/* Side nav*/
.expand {
    width: 40% !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3000;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    z-index: 3000;
}

.spacearound {
    padding: 0rem 4rem;
}

.pointer {
    cursor: pointer;
}

/* Filter Styles */
.productside .card-body {
    padding: 0px;
}

.card-filter-sect {
    padding: 15px 10px;
    margin: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.border-top-none {
    border-top: none !important;
}

.filter-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.filter-group .form-check-input {
    position: relative;
}

.filter-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.filter-range {
    padding: 5px 10px;
}

/* Country Page */
.f-title {
    font-size: 32px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: white;
}

.f-title img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
}

.f-sub-title {
    margin-left: 38px;
    margin-bottom: 7px;
    font-weight: 300;
    font-size: 12px;
    color: white;
    letter-spacing: 1px;
}

.product-image {
    width: 20%;
    height: 20%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media (max-width: 575.98px) {
    .spacearound {
        padding: 0rem 3rem;
    }

    .expand {
        width: 100% !important;
    }
}

/* End of side nav */

@media(max-width: 992px) {
    .home-top {
        min-height: 700px;
    }
}

@media(max-width: 576px) {
    .navbar-brand {
        position: relative;
        left: initial;
        top: initial;
        right: initial;
        transform: none;
    }

    .site-nav .navbar-nav {
        background: white;
        padding-top: 10px;
        padding-bottom: 10px;
        max-height: 450px;
        overflow-y: auto;
    }

    .site-nav .navbar-nav a {
        padding: 10px;
    }

    .nv-drop-menu {
        position: relative;
        opacity: 1;
        width: 100%;
        pointer-events: all;
        left: initial;
        top: initial;
        max-height: 0px;
        overflow: hidden;
    }

    .nv-drop-menu .nv-drop-menu {
        top: initial;
        left: initial;
        border-left: none;
    }

    .nv-dropdown:hover>.nv-drop-menu {
        max-height: 200px;
    }

    .top_titile_bk,
    .spaceup {
        margin-top: 91px;
    }

    .home-top-b {
        font-size: 42px;
    }

    .new-arr-bg {
        width: calc(100% + 30px);
        left: -15px;
    }

    .exclusive {
        background-attachment: initial;
    }

    .download-li .list-inline-item:not(:last-child) {
        margin-right: 0px;
    }

    .productgreenline .list-inline-item:not(:last-child) {
        margin-right: 0px;
    }

    .productside {
        max-height: 0px;
        border: none;
        overflow: hidden;
        transition: 0.2s linear;
    }

    .productside.open {
        max-height: 450px;
        overflow-y: auto;
    }

    .card-filter-sect {
        padding: 15px;
    }

    .filter-group,
    .filter-price,
    .filter-range {
        padding: 5px 15px;
    }

    .stick-to-top {
        position: relative;
        top: auto;
    }

    .privacy-policy {
        bottom: 0;
        right: 0;
        left: 0;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footergreen small {
        font-weight: inherit;
    }
}

/* Newsletter modal */
.nw-modal {
    z-index: 100000;
    padding: 0px;
}

.nw-popup-img {
    padding-bottom: 56.25%;
    position: relative;
}

.nw-popup-body {
    padding: 40px 3vw;
    background: #FFF5EA;
    color: #2B4036;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr auto;
}

.form-grid input {
    width: 100%;
    padding: 10px;
    width: 100%;
    border: 1px solid #e7e7e7;
}

.form-grid button {
    padding: 10px 20px;
    color: #ffffff;
    border: 1px solid #bb804d;
    background: #BB804D;
    cursor: pointer;
}

.nw-modal .modal-dialog {
    max-width: 550px;
}

.nw-modal .modal-content {
    border: none;
    border-radius: 0px;
    position: relative;
    padding: 0;
}

.nw-modal .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    font-size: 34px;
    color: #000;
    z-index: 1;
    padding: 10px 20px;
    line-height: 1;
}

.hidden {
    opacity: 0 !important;
}




/* media */
@media (max-width: 1281px) {
    .main-fix {
        margin-top: 21%;
    }
}

@media (max-width: 1025px) {
    .main-fix {
        margin-top: 58%;
    }


}

@media (max-width: 415px) {
    .land_titile {
        font-size: 36px;
        font-family: 'Libre Baskerville', serif;
        font-weight: 700;
        color: #fff;
    }

}

@media (max-width: 321px) {
    .land_titile {
        font-size: 28px;
        font-family: 'Libre Baskerville', serif;
        font-weight: 700;
        color: #fff;
    }

}
